[submodule "rokol"]
	path = crates/rokol
	url = https://github.com/toyboot4e/rokol
[submodule "xdl"]
	path = crates/xdl
	url = https://github.com/toyboot4e/xdl
[submodule "crates/toy_arena"]
	path = crates/toy_arena
	url = https://github.com/toyboot4e/toy_arena
